%cart {
  display: flex;
  align-items: center;
  color: rgb(203, 203, 203);
  text-shadow: 0 0 1.7px black, 0 0 1.7px black, 0 0 1.7px black, 0 0 1.7px black;
  font-size: 1.8vw;
}
%cart_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 4px;
  margin-right: 4px;
}

.cart_item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 2vh;
  margin-left: 2vw;
}
.cart_block {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 2vh;
  margin-left: 2vw;
}
.cart_button_box {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.cartGrid_blur {
  filter: blur(8px);
}
.cartGrid {
  display: grid;
  position: relative;
  margin-top: 120px;
  grid-template-columns: auto;
}
.cart_picture {
  border-radius: 10px;
  width: 14vw;
}
.cart_content {
  min-height: 46vh;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
}
.emptycart {
  @extend %cart;
  justify-content: center;
  font-size: 8vh;
}
.cart_button {
  @extend %cart;
}
.cart_value {
  @extend %cart;
}
.cart_sign {
  cursor: pointer;
}
.cart_remove {
  @extend %cart;
}
.cart_remove_remove {
  cursor: pointer;
}
.cart_buybar {
  @extend %cart;
  display: grid;
  grid-template-columns: auto;
}
.cart_buybar_buy {
  @extend %cart_bar;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 12px;
}
@media (max-width: 1025px) {
  %cart {
    font-size: 2.4vw;
  }
  .cart_block {
    grid-template-columns: 2fr 3fr 1fr;
  }
  .cart_picture {
    width: 18vw;
  }
}
@media (max-width: 769px) {
  %cart {
    font-size: 3vw;
  }
  .cart_item {
    grid-template-columns: 1fr 4fr;
  }
  .cart_block {
    grid-template-columns: 2fr 3fr 1fr;
  }
  .cart_picture {
    width: 18vw;
  }
}
@media (max-width: 565px) {
  .cart_block {
    display: grid;
    grid-template-columns: auto;
  }
  .cart_item {
    display: grid;
    grid-template-columns: auto;
    margin-left: 0px;
  }
  .cart_picture_box {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
  }
  .cart_picture {
    border-radius: 10px;
    width: 80%;
    display: flex;
  }
  %cart {
    font-size: 4.8vw;
    margin-top: 14px;
    margin-left: 6px;
  }
  .cart_value {
    display: flex;
    margin-left: 0px;
    justify-content: center;
    margin-top: 0px;
    padding-bottom: 8vw;
  }
  .cart_remove {
    display: flex;
    margin-left: 0px;
    justify-content: center;
  }
  .cart_button {
    padding-bottom: 8vw;
    display: flex;
    margin-left: 0px;
    margin-top: 0px;
    justify-content: center;
  }
  .cart_buybar_buy {
    margin-top: 12px;
  }
}
@media (max-width: 426px) {
  %cart {
    font-size: 5vw;
    margin-top: 14px;
  }
}
@media (max-width: 376px) {
  %cart {
    font-size: 6vw;
  }
}
@media (max-width: 320px) {
  %cart {
    font-size: 8vw;
  }
}
