.menu {
  display: none;
  &_active {
    text-transform: uppercase;
    width: 100%;
    top: 140px;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
  }
}
.a_menu_header {
  font-size: 20px;
  color: white;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  &:hover {
    transition: 0.2s;
    color: #0082e6;
  }
}

.li_menu_header {
  margin-bottom: 30%;
}
.ul_menu_header {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}
@media (max-width: 426px) {
  .menu_active {
    display: inline-block;
  }
  .li_menu_header {
    margin-bottom: 50px;
  }
  .a_menu_header {
    font-size: 16px;
  }
}
@media (max-height: 652px) {
  .menu_active {
    height: 264px;
    overflow-y: scroll;
  }
}
@media (max-height: 408px) {
  .menu_active {
    height: 128px;
  }
}
@media (min-width: 1346px) {
  .menu_active {
    display: none;
  }
}
