%navposition {
  position: fixed;
  display: flex;
  background: transparent;
}
%searchtemplate {
  margin-top: 76px;
  width: 99%;
  height: 32px;
  @extend %navposition;
}
.navheader {
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: white;
  @extend %navposition;
}
.leftbox {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-transform: uppercase;
}
.rightbox {
  display: flex;
  text-transform: uppercase;
}
.navbar_p {
  color: rgb(203, 203, 203);
  text-shadow: 0 0 1.7px black, 0 0 1.7px black, 0 0 1.7px black, 0 0 1.7px black;
  font-size: 20px;
  margin: 0px 16px;
  transition: all 0.5s ease;
  cursor: pointer;
}

title.logo {
  display: inline-block;
  color: dimgray;
  text-shadow: 2px 1px 1px #332c2c;
  font-size: 32px;
  font-weight: bold;
  transform: translateX(22%);
  cursor: pointer;
}

.navbar_p:hover {
  transition: 0.2s;
  color: #0082e6;
}
.checkbtn {
  font-size: 20px;
  color: dimgray;
  float: right;
  margin-left: 32px;
  cursor: pointer;
  display: none;
  z-index: 1;
}

.searchbar {
  z-index: 1;
  @extend %searchtemplate;
}
.searchbar_backposition {
  @extend %searchtemplate;
  z-index: 0;
}
.searchinput {
  margin-left: 12px;
  width: 100%;
  background: transparent;
  color: #0082e6;
  border: solid 1px rgb(70, 70, 70);
  border-radius: 10px;
  text-transform: uppercase;
  background-color: transparent;
}
.logosvg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 10s;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #0082e6 !important;
}
.chosen_not_visible {
  display: none;
}
.navdrophover {
  position: absolute;
  left: 0;
  width: 100%;
}
@media (max-width: 1280px) {
  .checkbtn {
    display: block;
  }
  .centralbox {
    transform: translatex(-29%);
    z-index: -1;
  }
  title.logo {
    font-size: 30px;
  }

  .leftbox {
    display: none;
  }

  .rightbox {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar_p:hover {
    color: #0082e6;
    transition: 0.2s;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 425px) {
  title.logo {
    font-size: 20px;
  }
  .checkbtn {
    font-size: 15px;
    margin-left: 20px;
  }
  .centralbox {
    transform: translatex(-30%);
    z-index: -1;
  }
}
@media (min-width: 1281px) {
  .centralbox {
    margin-left: 0%;
    transform: translateX(-31%);
  }
}
