%contentfoooter {
  margin-top: 4px;
  padding-top: 3%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: white;
}
%foootergap {
  display: grid;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
.contentFooter {
  @extend %contentfoooter;
  &_blur {
    filter: blur(8px);
    @extend %contentfoooter;
  }
}
.footergap {
  align-content: flex-start;
  @extend %foootergap;
  & .footergap_name {
    font-size: 20px;
  }
}
.footergap_content {
  margin-top: 25px;
}
.checkinput {
  display: none;
}

.footergap_content li {
  color: dimgray;
  margin-bottom: 25px;
}

@media (min-width: 1281px) {
  .contentFooter_blur {
    filter: blur(0);
  }
}

@media (max-width: 765px) {
  .footergap_content {
    display: grid;
    cursor: pointer;
  }
  .contentFooter {
    grid-template-columns: auto;
    row-gap: 20px;
    padding-bottom: 20px;
  }
  .checkinput:checked ~ .footergap_name {
    color: #0082e6;
  }
}
@media (max-width: 320px) {
  .footergap_content {
    font-size: 10px;
  }
  .footergap {
    & .footergap_name {
      font-size: 15px;
    }
  }
}
